[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	editor = vim
	pager = less -S
	autocrlf = input
[alias]
	co = checkout
	st = status
	br = branch
	l = log --decorate --all --graph --pretty=brief
[log]
	decorate = full
[init]
	defaultbranch = main
[push]
	autosetupremote = true
[pretty]
	brief = format:%C(auto)%h %C(blue)%cn %C(green)%cr %C(auto)%s %d
