[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
[submodule ".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = .oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "/home/thom/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = /home/thom/.oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k
[submodule "/home/thom/.tmux/plugins/tpm"]
	path = /home/thom/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
